@model List<Produit>
<h1>liste des Produits</h1>

<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>PrixProduit</th>
            <th>Description</th>
        </tr>
        @foreach (var obj in Model)
        {
            <tr>
                <td> @obj.Name</td>
                <td> @obj.Code</td>
                <td> @obj.PrixProduit</td>
                <td> @obj.Description</td>
                <td><a asp-controller="Produit" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">Modifier</a></td>
                <td>
                    <a asp-controller="Produit" asp-action="Delete" asp-route-id="@obj.Id"
                       class="btn btn-primary">Supprimer</a>
                </td>
                <td>
                    <img src="@obj.imageURL" width="100"/>
                </td>
            </tr>
        }
    </table>
    <div>
        <a asp-controller="Produit" asp-action="Create" class="btn btn-primary">
            Créer un
            nouveau Produit
        </a>
    </div>
</div> 